.rightPanelBtn {
	width: 40px;
	height: 40px;
	margin-bottom: 4px;
	font-size: 22px;
	cursor: pointer;
	border-radius: 50%;
	opacity: 0.5;
	transition: all 0.5s ease;
}

.rightPanelBtn:hover {
	opacity: 1 !important;
	box-shadow: 0px 3px 1px rgb(0 0 0 / 35%);
	text-shadow: 1px 2px 5px rgb(0 0 0 / 55%);
	width: 45px !important;
	height: 45px !important;
	font-size: 23px !important;
}

.buttonHide {
    background:#228B22;
    border-radius:5px;
    border:1px solid #566963;
    color:#ffffff;
    padding:5px 5px;
    font-family:sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,NotoEmoji,Twemoji;
    font-size:14px;
    min-height: 30px;
    width:50px;
}
.buttonHide:hover {
    background: #0d3f0d;
}

.btnCRM {
    background-color:#768d87;
    border-radius:5px;
    border:1px solid #566963;
    color:#ffffff;
    padding:5px 5px;
    font-family:sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,NotoEmoji,Twemoji;
    font-size:14px;
    min-height: 30px;
}

.btnCRM:hover  {
    background: #6A5ACD;
}

.btnCRMsmall {
    width:30px !important;
}

.maindivst{
    border: 2px double black;
    background-color: #464451;
}

.inputCRM {
    font-family:sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,NotoEmoji,Twemoji;
    font-size:14px;
    min-height: 25px;
}	

.spanCRM {
    font-family:sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,NotoEmoji,Twemoji;
    font-size:14px;
}

.showedwindows {
    min-height: 25px;
    min-width: 65px;
    background: #464451;
    font-size: 14px;
    z-index: 50;
    position: fixed;
    border: 1px solid rgb(56, 56, 56);
    color: black;
    box-shadow: 0px 0px 10px #000;
}

td[name="idToCRM"]:hover {
    cursor: pointer;
    background: rgb(51, 116, 54) !important;
}

.activeScriptBtn {
	opacity: 1 !important;
}